.MuiGrid-container{
  display: block !important;
}
.MuiTypography-body2{
  display: inline-block !important;
  margin: 5px !important;
}
.css-1vhaqj4-MuiButtonBase-root-MuiButton-root{
  background-color:black !important
}